<nav>
    <button class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <ul>
        <li><a href="/" title="Home page">Home</a></li>
        <li><a href="#" title="Custom vehicles">Custom</a></li>
        <li><a href="#" title="Sedan vehicles">Sedan</a></li>
        <li><a href="#" title="SUV vehicles">SUV</a></li>
        <li><a href="#" title="Truck vehicles">Truck</a></li>
    </ul>
</nav>